.tapp-form-button {
  width: fit-content;
  height: 48px;
  border-radius: 8px;
  font-size: 18px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border: none;
  font: inherit;
  cursor: pointer;
  align-self: center;
  background-color: #cccccc; */ /* Initial background color */
  color: rgb(72, 117, 124); /* Initial text color */
  transition: background-color 0.3s, transform 0.2s; 
}

/* Hover state */
.tapp-form-button:hover {
  background-color: #B7B7B7; /* Darker background on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

/* Active state */
.tapp-form-button:active {
  background-color: #B0AEAE;/* Even darker background on active click */
  transform: scale(0.95); /* Slightly decrease size on active click */
}

/* Visited state (applicable if it's a link button) */
.tapp-form-button:visited {
  background-color: #656565; /* Different color for visited state */
}

/* Focus state */
.tapp-form-button:focus {
  outline: 2px solid #80bdff; /* Outline on focus for accessibility */
  outline-offset: 2px;
}