@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

.tapp-form-button {
  width: fit-content;
  height: 48px;
  border-radius: 8px;
  font-size: 18px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border: none;
  font: inherit;
  cursor: pointer;
  align-self: center;
  background-color: #cccccc; */ /* Initial background color */
  color: black; /* Initial text color */
  transition: background-color 0.3s, transform 0.2s; 
}

/* Hover state */
.tapp-form-button:hover {
  background-color: #B7B7B7; /* Darker background on hover */
	border: medium #1C31D4 solid;
	color: #1C31D4;
  transform: scale(1.05); /* Slightly increase size on hover */
}

/* Active state */
.tapp-form-button:active {
  background-color: #B0AEAE;/* Even darker background on active click */
  transform: scale(0.95); /* Slightly decrease size on active click */
}

/* Visited state (applicable if it's a link button) */
.tapp-form-button:visited {
  background-color: #656565; /* Different color for visited state */
}

/* Focus state */
.tapp-form-button:focus {
  outline: 2px solid #80bdff; /* Outline on focus for accessibility */
  outline-offset: 2px;
}
/*!
 * Bootstrap v4.4.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;hf
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
  tap-highlight-color: rgba(0, 0, 0, 0);
}

aside,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h2,
h3,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    display: inherit;
    margin-right: 5px;
    margin-left: 10px;
}

strong {
  font-weight: bolder;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
font-weight: 600;
    font-size: 1.25em;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto focus-ring-color;
}

input,
button,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
[type="button"],
[type="submit"] {
  appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="number"]::inner-spin-button,
[type="number"]::outer-spin-button {
  height: auto;
}

[type="search"]::search-decoration {
  appearance: none;
}

::file-upload-button {
  font: inherit;
  appearance: button;
}

h2,
h3,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-control::input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.was-validated
  .custom-control-input:valid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-valid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #28a745;
}

.was-validated
  .custom-control-input:invalid:focus:not(:checked)
  ~ .custom-control-label::before,
.custom-control-input.is-invalid:focus:not(:checked)
  ~ .custom-control-label::before {
  border-color: #dc3545;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark:not(:disabled):not(.disabled):active,
.btn-outline-dark:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.collapse:not(.show) {
  display: none;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #80bdff;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-range:focus::slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-range::slider-thumb {
  width: 1rem;
  height: 1rem;
  margin-top: -0.25rem;
  background-color: #007bff;
  border: 0;
  border-radius: 1rem;
  transition: background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  appearance: none;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  .custom-range::slider-thumb {
    transition: none;
    transition: none;
  }
}

.custom-range::slider-thumb:active {
  background-color: #b3d7ff;
}

.custom-range::slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 1rem;
}

.custom-range:disabled::slider-thumb {
  background-color: #adb5bd;
}

.custom-range:disabled::slider-runnable-track {
  cursor: default;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFFFFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
    color: black;
	word-spacing: 1.2px;
    font-weight: 500;
	margin: 15px 5px 15px 25px;
    font-size: 16px;
}

.card-header {
  padding: 10px 30px;
  background-color: #7D816C;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

@supports ((position: sticky) or (position: sticky)) {
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.text-center {
  text-align: center !important;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
  body {
    min-width: 992px !important;
  }
  .container {
    min-width: 992px !important;
  }
}
/*# sourceMappingURL=bootstrap.css.map */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set body setting */

body {
  background-color: #353836;
  color: white;
  font-family: "Poppins", sans-serif;
}
.whatsapp-chat {
    margin-top: 5px; 
    margin-left: 50px;
}

.card-body ol li {
    font-size: 0.95em;
    color: #000000;
	padding: 5px;
	margin-left: 25px;
	padding-right: 5px;
}


.questionaire {
	margin: 20px 0px;
	padding: 10px;
}

.questionaire h5{
    font-size: 1em;
    font-weight: 600;
}

.questionaire hr {
    margin: 30px;
}

.row-answer {
    font-size: 0.9em;
}

.subtitle {
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    
}


.social-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
  z-index: 10;
}

.custom-social-container {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(248, 4, 77, 0.6);
	border: 5px solid #660033;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	position: relative;
	height: 169px;
	width: 370px;
	max-width: calc(100% - 10px);
}

.custom-social-container button.cross-btn {
	border: 0;
	color: #660033;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.custom-social-container p {
	background-color: #660033;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 215px;
}

.custom-social-container ul {
	display: flex;
	list-style-type: none;
	padding: 0;
  margin-top: 58px;
}

.custom-social-container ul li {
	margin: 0 10px;
}

.custom-social-container ul li a {
	border: 1px solid #999;
	border-radius: 50%;
	color: #660033;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.custom-social-container ul li a:hover {
	border-color: #ffd791;
	box-shadow: 0 9px 12px -9px #ffd791;
}

.connect-btn {
	border-radius: 26.5px;
	background-color: #660033;
	border: 1px solid #660033;
	box-shadow: 0 16px 22px -17px #660033;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.connect-btn:hover {
	background-color: #993366;
}

@media screen and (max-width: 480px) {

	.connect-btn {
		right: 10px;
	}
}


html {
    --tapp-theme-primary: #62696e;
    --tapp-theme-secondary: #173C54;
    --tapp-theme-tertiary: #FFFFFF;
    --tapp-theme-quaternary: #F8F6EE;
    --tapp-theme-quinary: #BFE3FF;
    --tapp-theme-font: Poppins;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background-color: var(--tapp-theme-primary, #fff);
    font-family: var(--tapp-theme-font);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tapp-hover {
    scale: 1;;
    transition: transform 0.2s;
}

.tapp-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.tapp-root-wrapper {
    position: relative;
}

.tapp-snackbar {
  position: fixed;
  bottom: 64px;
  right: 64px;
  padding: 16px 32px;
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(4px);
  color: white;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: 999;
}

.tapp-snackbar:not(.show) {
  pointer-events: none;
}

/* Navigation */

.tapp-nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tapp-nav {
    overflow: hidden;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*backdrop-filter: saturate(180%) blur(20px);*/
}

.tapp-nav-content-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tapp-theme-font);
}

/* Navigation Positions */

.tapp-nav-modern {
    height: 56px;
    width: calc(100% - 32px);
    max-width: 980px;
    margin-top: 16px;
    border-radius: 16px;
    border: 1px solid;
    padding-right: 16px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}

/* Navigation Color Modes */

.tapp-nav-dark {
    background-color: rgba(22, 22, 23, 0.75);
	color: #fff;
	border-color: rgba(255, 255, 255, 0.1);
}

/* Navigation Content */

.tapp-nav-logo {
    max-height: 32px;
}

.tapp-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 16px;
    height: 32px;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
}

.tapp-nav-item-dark {
    color: #fff;
}

/* Sections */

.tapp-section {
    position: relative;
    width: 100%;
    background-color: var(--tapp-section-background, #fff);
    color: var(--tapp-section-text, #fff);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tapp-section::before {
    content: "";
    background-color: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    pointer-events: none;
}

.tapp-section-content{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; /* transition effect */
}

/* Modules */

.tapp-module {
    position: relative;
    width: 100%;
}

/* Modules Types */

.tapp-module-root {}

.tapp-module-base-horizontal {
    display: flex;
    gap: 16px;
}

.tapp-module-horizontal {
    display: flex;
    gap: 16px;
}

.tapp-module-vertical {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tapp-module-vertical > * + * {
    margin-top: 4px;
}

/* Modules Alignments */
.tapp-module-align-flex-start {
    align-items: flex-start;
}

.tapp-module-align-center {
    align-items: center;
}

/* Image Block */

.tapp-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tapp-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

/* Text Block */

.tapp-text-wrapper {
    width: 100%;
}

.tapp-block-text-leaf {
    font-family: inherit;
    color: inherit;
}

.tapp-block-text-ul {
    list-style-position: inside;
}

.tapp-block-text-li {}

.tapp-block-text-h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 400;
}

.tapp-block-text-h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
}

.tapp-block-text-h6 {
    font-size: 0.75rem;
    font-weight: 400;
}

.tapp-block-text-p {
    font-size: 1rem;
	font-weight: 400;
}

/* Spacer Block */

.tapp-spacer {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Button Block */

.tapp-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.tapp-button-link {
    text-decoration: none;
    color: inherit;
}

.tapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Form Block */
.tapp-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4px;
}

.tapp-form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 16px;
}

.tapp-form-input-wrapper {
  position: relative;
  border-radius: 6px;
  z-index: 1;
  overflow: hidden;
  border: 1px solid rgb(0 0 0 / 15%);
}

.tapp-form-input-wrapper:focus-within {
  border-color: var(--input-border-color, #52C3FB);
  outline: 4px solid var(--input-outline-color, rgb(166	224	252 / 25%));
}

.tapp-form-input-wrapper::before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: var(--input-background-color);
  opacity: 0.1;
  z-index: -1;
}

.tapp-form-input, .tapp-form-textarea {
  background: none;
  font: inherit;
  width: 100%;
  border: none;
  color: inherit;
}

.tapp-form-input:focus-visible, .tapp-form-textarea:focus-visible {
  outline: none;
}

.tapp-form-textarea {
  padding: 16px;
}

.tapp-form-input {
  padding: 0 16px;
  height: 56px;
}

/* Icon Block */

@media only screen and (max-width: 768px) {
    .tapp-module-base-horizontal {
        flex-direction: column;
        gap: 4px;
    }
    .tapp-module-horizontal {
        flex-direction: column;
        gap: 16px;
    }
    .tapp-section-content {
        padding: 0 24px;
    }
    .tapp-section {
        background-attachment: scroll !important;
    }
}
