@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
html {
  --tapp-theme-primary: #FAFCF9;
  --tapp-theme-secondary: #EDF7E2;
  --tapp-theme-tertiary: #235034;
  --tapp-theme-quaternary: #0C2308;
  --tapp-theme-quinary: #257846;
  --tapp-theme-font: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  background-color: var(--tapp-theme-primary, #fff);
  font-family: var(--tapp-theme-font);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@keyframes tapp-zoom-in {
  0% {
    transform: scale(0.9) translateY(20px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
.tapp-hover {
  scale: 1;
  ;
  transition: transform 0.2s;
}
.tapp-hover:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.tapp-root-wrapper {
  position: relative;
}
.tapp-snackbar {
  position: fixed;
  bottom: 64px;
  right: 64px;
  padding: 16px 32px;
  background-color: rgb(0 0 0 / 50%);
  backdrop-filter: blur(4px);
  color: white;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  z-index: 999;
}
.tapp-snackbar:not(.show) {
  pointer-events: none;
}
.tapp-snackbar.show {
  opacity: 1;
}
/* Navigation */
.tapp-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tapp-nav {
  overflow: visible;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tapp-nav-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--tapp-theme-font);
}
/* Navigation Positions */
.tapp-nav-standard {
  width: 100%;
  height: 56px;
}
.tapp-nav-modern{
  height: 56px;
  width: calc(100% - 32px);
  max-width: 980px;
  margin-top: 16px;
  border-radius: 16px;
  border: 1px solid;
  padding-right: 16px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}
.tapp-nav-content-container-standard {
  max-width: 1360px;
}
.tapp-nav-content-container-modern {}
/* Navigation Color Modes */
.tapp-nav-dark {
  background-color: rgba(22, 22, 23, 0.75);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
}
.tapp-nav-light {
  background-color: rgba(251, 251, 251, 0.75);
  color: #000;
  border-color: rgba(0, 0, 0, 0.05);
}
/* Navigation Content */
.tapp-nav-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tapp-nav-logo {
  max-height: 32px;
}
.tapp-nav-title {
  font-size: 16px;
  font-weight: 500;
  color: inherit;
  font-family: inherit;
}
.tapp-nav-item-wrapper {
  text-decoration: none;
  color: inherit;
}
.tapp-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 16px;
  height: 32px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 14px;
}
.tapp-nav-item-active {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}
.tapp-nav-item-dark {
  color: #fff;
}
.tapp-nav-item-active.tapp-nav-item-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
/* Sections */
.tapp-section {
  position: relative;
  width: 100%;
  background-color: var(--tapp-section-background, #fff);
  color: var(--tapp-section-text, #fff);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tapp-section::before {
  content: "";
  background-color: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: var(--tapp-section-background-opacity, 0.3);
  pointer-events: none;
}
.tapp-section-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* transition effect */
}
.tapp-section-content.in-view {
  animation: tapp-zoom-in 0.5s forwards;
}
/* Modules */
.tapp-module {
  position: relative;
  width: 100%;
}
/* Modules Types */
.tapp-module-root {}
.tapp-module-base-horizontal {
  display: flex;
  gap: 16px;
}
.tapp-module-horizontal {
  display: flex;
  gap: 16px;
}
.tapp-module-vertical {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.tapp-module-vertical > * + * {
  margin-top: 4px;
}
/* Modules Alignments */
.tapp-module-align-flex-start {
  align-items: flex-start;
}
.tapp-module-align-center {
  align-items: center;
}
.tapp-module-align-flex-end {
  align-items: flex-end;
}
/* Image Block */
.tapp-image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tapp-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
/* Text Block */
.tapp-text-wrapper {
  width: 100%;
}
.tapp-block-text-leaf {
  font-family: inherit;
  color: inherit;
}
.tapp-block-text-blockquote {}
.tapp-block-text-ul {
  list-style-position: inside;
}
.tapp-block-text-li {}
.tapp-block-text-ol {
  list-style-position: inside;
}
.tapp-block-text-h1 {
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: 400;
}
.tapp-block-text-h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 400;
}
.tapp-block-text-h3 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 400;
}
.tapp-block-text-h6 {
  font-size: 0.75rem;
  font-weight: 400;
}
.tapp-block-text-p {
  font-size: 1rem;
  font-weight: 400;
}
/* Spacer Block */
.tapp-spacer {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Button Block */
.tapp-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.tapp-button-link {
  text-decoration: none;
  color: inherit;
}
.tapp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Form Block */
.tapp-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 4px;
}
.tapp-form.tapp-form-background {
  padding: 48px;
  border-radius: 8px;
}
.tapp-form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 16px;
}
.tapp-form-input-wrapper {
  position: relative;
  border-radius: 6px;
  z-index: 1;
  overflow: hidden;
  border: 1px solid rgb(0 0 0 / 15%);
}
.tapp-form-input-wrapper:focus-within {
  border-color: var(--input-border-color, #52C3FB);
  outline: 4px solid var(--input-outline-color, rgb(166 224 252 / 25%));
}
.tapp-form-input-wrapper::before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: var(--input-background-color);
  opacity: 0.1;
  z-index: -1;
}
.tapp-form-input, .tapp-form-textarea {
  background: none;
  font: inherit;
  width: 100%;
  border: none;
  color: inherit;
}
.tapp-form-input::placeholder, .tapp-form-textarea::placeholder {
  color: var(--input-background-color, auto);
  opacity: 0.5;
}
.tapp-form-input:focus-visible, .tapp-form-textarea:focus-visible {
  outline: none;
}
.tapp-form-textarea {
  padding: 16px;
}
.tapp-form-input {
  padding: 0 16px;
  height: 56px;
}
.tapp-form-button {
  width: fit-content;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  border: none;
  font: inherit;
  cursor: pointer;
}
/* Icon Block */
.tapp-icon-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.tapp-icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .tapp-module-base-horizontal {
    flex-direction: column;
    gap: 4px;
  }
  .tapp-module-horizontal {
    flex-direction: column;
    gap: 16px;
  }
  .tapp-section-content {
    padding: 0 24px;
  }
  .tapp-section {
    background-attachment: scroll !important;
  }
  #tapp-nav tapp-nav-modern tapp-nav-dark .toggle {
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 44px;
    opacity: 0.25;
  }
  #tapp-nav tapp-nav-modern tapp-nav-dark .toggle:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  #tapp-nav tapp-nav-modern tapp-nav-dark .toggle:before {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    content: '\f0c9';
  }
  #tapp-nav tapp-nav-modern tapp-nav-dark .toggle:active {
    opacity: 0.5;
  }
}
.brand {
    
}
